.app-wrapper {
  width: 1460px;
  margin: 0 auto;
  color:white;
  display: grid;
  grid-template-areas: "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 20px;
}
.btn {
  margin-top: 10px;
  display: block;
  font-size: 26px;
  color: white;
  width: 150px;
  height: 35px;
  background-color: lightseagreen;
  border: none;
}
.right {
  margin-right: -2px;
  margin-left: auto;
}
.content {
  color: black;
  grid-area: c;
  font-size: 27px;
}
