
.nav {
    background-color: gray;
    grid-area: n;
}
.menuItem {
    text-align: start;
    font-size: 27px;
    margin-top: 7px;
    margin-left: 20px;
    cursor: pointer;
}
.menuItem a{
    text-decoration: none;
    color: white;
}

.menuItem a:hover {
    color: lightgreen;
}